.product {
    margin: 10px 30px;
    height: 300px;
    border: 2px solid rgb(228, 227, 227);
    border-radius: 5px;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 0 31px rgba(73, 64, 64, 0.2); 
    transform: translate(-0.5px, -0.5px);
    transition-delay: 0.25s;
}

.product .productImage {
    height: 175px;
    width: 320px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.product h4 {
    margin: 0;
    color: grey;
    font-size: 10px;
    padding: 5px 10px;
}

.h4HeadingRentAmount {
    color: rebeccapurple;
    font-size: 15px;
}

.product h3 {
    margin: 0;
    font-size: 15px;
    padding: 5px 10px;
}

.product h6 {
    padding: 5px 10px;
    color: grey;
    margin-top: 1px;
    margin-bottom: 6px;
}

.product p {
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    color: rgb(186, 184, 184);
    padding: 5px 10px;
}